<h1> Log in! </h1>

<%= render partial: "layouts/errors" %>

<form action = "<%=session_url%>" method="post">
  <label for="user_name">Username</label>
  <input
    type="text"
    id="user_name"
    name="user[user_name]"
    value="<%=@user.user_name%>">

  <label for="password">Password</label>
  <input
    type="password"
    id="password"
    name="user[password]">

  <button> Log in</button>

</form>
